.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 60%;
  margin: 0 auto;
  padding: 24px 0;

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
